<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.kelompok11_edulectronics_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KElOMPOK11EdulectronicsApp">
        <activity
            android:name=".ResultBab3"
            android:exported="false" />
        <activity
            android:name=".LatihanBab3"
            android:exported="false" />
        <activity
            android:name=".ResultBab2"
            android:exported="false" />
        <activity
            android:name=".LatihanBab2"
            android:exported="false" />
        <activity
            android:name=".ResultBab1"
            android:exported="false" />
        <activity
            android:name=".LatihanBab1"
            android:exported="false" />
        <activity
            android:name=".Videorangkumanmateri"
            android:exported="true" />
        <activity
            android:name=".Bab3"
            android:exported="true" />
        <activity
            android:name=".Bab2"
            android:exported="true" />
        <activity
            android:name=".Bab1"
            android:exported="true" />
        <activity
            android:name=".informasi"
            android:exported="true" />
        <activity
            android:name=".daftarisi"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>